<app-header-secondary></app-header-secondary>

<app-menu-minha-conta></app-menu-minha-conta>

<div style="margin-left:25%;padding:1px">

    <div class="row titulo">
        <h3>MEUS CARTOES</h3>
    </div>

    <div id="accordion">
        <div class="card" *ngFor="let cartao of cartoes.cartoesCreditoDTO; let i = index">
            <div class="card-header" id="headingOne">
                <p class="mb-0" >
                    <span>Cartão - </span>
                    {{cartao.nrNumeroCartao}} - {{cartao.nmNomeTitular}}
                </p>
                <button class="btn btn-danger float-right" (click)="apagarCartao(cartao.idCartaoCredito)" >
                    Excluir
                </button>
                <!-- <button class="btn btn-primary float-right" data-toggle="collapse" [attr.data-target]="'#clps' + i"
                    aria-expanded="true" [attr.aria-controls]="'clps' + i">
                    Editar
                </button> -->
            </div>

            <div id="{{'clps' + i}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <!--Inicio Form-->
                    <div class="row">
                        <div class="form-group col-md-6 col-12">
                            <label for="inputNumeroCartao">Número do Cartão</label>
                            <input type="text" class="form-control"
                                placeholder="0000.0000.0000.0000" [(ngModel)]="cartao.nrNumeroCartao">
                        </div>
                        <div class="form-group col-md-6 col-12">
                            <label for="inputNomeCartao">Nome </label>
                            <input type="text" class="form-control" id="inputNomeCartao" [(ngModel)]="cartao.nmNomeTitular">
                        </div>
                    </div>
                </div>

                <!--Final Form -->
            </div>
        </div>

        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Incluir Novo Cartão
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <!--Inicio Form-->
                    <form name="forminfo">
                        <div class="row">
                            <div class="form-group col-md-6 col-12">
                                <label for="inputNumeroCartao">Número do Cartão</label>
                                <div>
                                    <input type="text" class="form-control" id="nrNumeroCartao" name="nrNumeroCartao"
                                        [(ngModel)]="request.nrNumeroCartao" #nrNumeroCartao="ngModel" required [class.is-invalid]="nrNumeroCartao.errors" maxlength="19"
                                        mask="0000.0000.0000.0000" placeholder="0000.0000.0000.0000">
                                    <div *ngIf="nrNumeroCartao.errors && (nrNumeroCartao.dirty)" class="alert alert-danger">
                                        <div [hidden]="!nrNumeroCartao.errors.required">
                                            Digite o Cartão
                                        </div>
                                        <div [hidden]="!nrNumeroCartao.errors.minlength">
                                            O Cartão deve conter ao menos 16 números.
                                        </div>
                                    </div>
                                </div> 
                            </div>
                            <div class="form-group col-md-6 col-12">
                                <label for="inputNomeCartao">Nome </label>
                                <div>
                                    <input type="text" class="form-control" id="nmNomeTitular" name="nmNomeTitular"
                                        [(ngModel)]="request.nmNomeTitular" #nmNomeTitular="ngModel" required [class.is-invalid]="nmNomeTitular.errors">
                                    <div *ngIf="nmNomeTitular.errors && (nmNomeTitular.dirty)" class="alert alert-danger">
                                        <div [hidden]="!nmNomeTitular.errors.required">
                                            Digite o nome como no cartão
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="inclui my-4 justify-content-center">
                    <button type="submit" class="btn btn-success" (click)="inserirCartao()">Salvar
                        Cartão</button>
                </div>
                <!--Final Form -->
            </div>
        </div>
    </div>
</div>
<app-footer-secondary></app-footer-secondary>