 <!--FOOTER-->
 <div class="footerCad col-12">
    <div class="row justify-content-center">
        <img class="img-footer" src="../../assets/images/headphones.png" class="img-fluid" alt="Responsive image">
        <div class="text-footer">
            <a href="#" class="atenCad col-3" style="color: #016f33 !important"> RD Atendimento ao cliente</a>
            <a href="#" class="contCad col-3" style="color: #016f33 !important"> Dúvidas, Elogios e Reclamações
            </a>
            <a href="#" class="col-3" style="color: #016f33 !important">| rac@rd.com.br |</a>
            <a href="#" class="col-3" style="color: #016f33 !important"> De Segunda a Sabado das
                08h ás 21h, inclusive feriados.</a>
        </div>
    </div>
</div>
