<!-- <div class="row py-5" >
    <div class="col-md-6 justify-content-flex-center">
        <div class="thumbnail">
            <img class="float-left logosSuperiores" src="../../assets/images/Ícones/entrega.png">
            <div class="h5 text-menu"><a routerLink="/cesta/entrega">Entrega</a></div>
            <div class="h1 small text-menu">Selecione o endereço de entrega</div>
        </div>
    </div>
    <div class="col-md-6 justify-content-flex-center">
        <div class="thumbnail">
            <img class="float-left logosSuperiores" src="../../assets/images/Ícones/pagamento.png">
        </div>
        <div class="h5 text-menu">Pagamento</div>
        <div class="h1 small text-menu">Escolha a forma de pagamento</div>
    </div>
</div> -->

<div class="row py-5 alinha" >
    <div class="col-md-6">
        <div class="thumbnail">
            <img class="float-left logosSuperiores" src="../../assets/images/Ícones/entrega.png">
            <div class="h5 text-menu"><a routerLink="/cesta/entrega">Entrega</a></div>
            <div class="h1 small text-menu">Selecione o endereço de entrega</div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="thumbnail">
            <img class="float-left logosSuperiores" src="../../assets/images/Ícones/pagamento.png">
        </div>
        <div class="h5 text-menu">Pagamento</div>
        <div class="h1 small text-menu">Escolha a forma de pagamento</div>
    </div>
</div>
