
<footer>
    <div class="row footer-separacao">
        <div class="col-lg-12 col-12"></div>
    </div>
    <div class="row links-footer">
        <div class="col-lg-3 col-6 links-footer-pos">
            <ul>
                <li>
                    <h5>Institucional</h5>
                </li>
                <li>
                    <a href="https://www.drogaraia.com.br/nossa-historia">Nossa história</a>
                </li>
                <li>
                    <a href="https://www.drogaraia.com.br/nossa-historia/trabalhe-conosco">Trabalhe conosco</a>
                </li>
                <li>
                    <a href="https://www.drogaraia.com.br/politica-de-privacidade">Política e privacidade</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-6 links-footer-pos">
            <ul>
                <li>
                    <h5>Serviços</h5>
                </li>
                <li>
                    <a href="https://www.drogaraia.com.br/nossas-lojas/">Lojas da Raia</a>
                </li>
                <li>
                    <a href="https://www.drogasil.com.br/nossas-lojas/">Lojas da Drogasil</a>
                </li>
                <li>
                    <a href="https://www.univers-pbm.com.br/beneficioMedicamentos/">Univers</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-6 links-footer-pos">
            <ul>
                <li>
                    <h5>Minha conta</h5>
                </li>
                <li>
                    <a href="">Criar novo cadastro</a>
                </li>
                <li>
                    <a href="">Editar endereços</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-3 col-6 links-footer-pos">
            <ul>
                <li>
                    <h5>Atendimento</h5>
                </li>
                <li>
                    <a href="">Central de atendimento</a>
                </li>
                <li>
                    <a href="">Formas de pagamento</a>
                </li>
                <li>
                    <a href="">Prazo de entrega</a>
                </li>
                <li>
                    <a href="">Reembolso</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row contatos">
        <div class="col-md-6 col-12 item-contato">
            <div class="">
                <h5><strong>Central de atendimento</strong></h5>
                <p>9999-9999</p>
                <p>Horário de atendimento das 8h às 21h,</p>
                <p> de segunda a sábado</p>
            </div>
        </div>
        <div class="col-md-6 col-12 item-contato">
            <div class="">
                <h5><strong>Televendas</strong></h5>
                <p>9999-9999</p>
                <p>Horário de atendimento das 7h às 21h,</p>
                <p> de segunda a segunda</p>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12 col-12">
            <div id="anvisa-footer">
                <h5><strong>A Raia Drogasil segue as determinações da </strong> <img src="../../assets/images/anvisa.png">
                </h5>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 20px;">
        <div class="col-12">
            <h5><strong>Meios de pagamento</strong></h5>
            <div class="pagamentos-footer">
                <nav class="nav">
                    <img src="../../assets/images/237.png">
                    <img src="../../assets/images/341.png">
                    <img src="../../assets/images/AE.png">
                    <img src="../../assets/images/VI.png">
                    <img src="../../assets/images/MC.png">
                    <img src="../../assets/images/DI.png">
                    <img src="../../assets/images/EL.png">
                    <img src="../../assets/images/HI.png">
                    <img src="../../assets/images/JC.png">
                    <img src="../../assets/images/boleto.jpg">
                </nav>
            </div>
        </div>
    </div>
    <div class="row info-footer">
        <div class="col-lg-3 col-12 logo-footer">
            <div>
                <img src="../../assets/images/logo-raia-redimensionado.png" id="logo-footer">
            </div>
        </div>
        <div class="col-lg-9 col-12">
            <p><strong>As informações contidas neste site não devem ser usadas para automedicação e não
                    substituem,
                    em hipótese alguma,
                    as orientações dadas pelo profissional da área médica. Somente o médico está apto a
                    diagnosticar qualquer problema de
                    saúde e prescrever o tratamento adequado. Ao persistirem os sintomas, um médico deverá ser
                    consultado. Os preços e
                    promoções divulgados no site são válidos apenas para compras feitas pela internet. Maiores
                    esclarecimentos,
                    consultar o site: www.anvisa.gov.br. A Raia Drogasil SA trabalha com as tecnologias mais
                    avançadas de proteção de dados,
                    para que você possa realizar suas compras com tranquilidade. A privacidade e a segurança dos
                    clientes são compromissos
                    da Raia Drogasil SA. Todos os pedidos efetuados estão sujeitos à confirmação da
                    disponibilidade de produto
                    em nosso estoque.</strong></p>
        </div>
    </div>
    <div class="row copyr">
        <div class="col-lg-12 col-md-12 col-12">
            <h5><strong>Política de privacidade</strong> | 2020 RD. Todos os direitos reservados</h5>
        </div>
    </div>
</footer>